@font-face {
  font-family: 'RB-Bold';
  src: url("https://cdn.shopify.com/s/files/1/0853/7630/3461/files/RBNo3.1-Bold.otf?v=1753733411");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}